:root{
  --color-primary: #F2E9E4;
  --color-secondary:#ECECEC;
  --color-text:#131B23;
  --color-secondary1:#FF8F93;
  --color-secondary2:#7A89C2;
  --color-secondary3:#54BEB2;

  --text-nav: 1.3125rem;
  --text-title: 1.5625rem;
  --text-general:1.0625rem;
  --text-info:0.875rem;

}

#root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--color-primary);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 1920px;
}

body {
  box-sizing: border-box;
  height: 100vh;
  box-sizing: border-box;
}